<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984962028049-sc25c3nj084lp9vfn5s2cl24glr1figl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984962028049-sc25c3nj084lp9vfn5s2cl24glr1figl</string>
	<key>API_KEY</key>
	<string>AIzaSyCs90L39_Oy_Y30NNpnxpRGKwuyBZOswek</string>
	<key>GCM_SENDER_ID</key>
	<string>984962028049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>trindade.jessica.KanjiGuide</string>
	<key>PROJECT_ID</key>
	<string>kanji-guide</string>
	<key>STORAGE_BUCKET</key>
	<string>kanji-guide.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984962028049:ios:1b3d423f24c664bc3397b0</string>
	<key>DATABASE_URL</key>
	<string>https://kanji-guide.firebaseio.com</string>
</dict>
</plist>